body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav Bar*/
.primary-navigation {
  margin: 0 auto;
	background: #C5B8CC;
	color: #FFF;
	height: 63px;
	padding-left: 18px;
  text-align: center;
	border-radius: 2px;
  font-size: 20px;
}
ul,  li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
ul {
	width: 100%;
}
li {
	float: left;
	display: inline;
	position: relative;
}
a {
	display: block;
	line-height: 63px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
/* input {
	display: none;
	margin: 0;
	padding: 0;
	height: 63px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
} */

label {
	display: none;
	line-height: 63px;
	text-align: center;
	position: absolute;
	left: 35px
} /* ^ what does this do*/
label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
ul.sub-menus li {
	display: block;
	width: 100%;
}
ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
li:hover ul.sub-menus {
	display: block
}
ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
/* @ media screen and (max-width: 800px){
	{position:relative}
	ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	ul.sub-menus {width:100%;position:static;}
	ul.sub-menus a {padding-left:30px;}
	li {display:block;float:none;width:auto;}
	input, label {position:absolute;top:0;left:0;display:block}
	input {z-index:4}
	input:checked + label {color:white}
	input:checked + label:before {content:"\00d7"}
	input:checked ~ ul {display:block}
} */


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}
.layout {
  margin-left: 220px;
  margin-top: 310px;
  width: 1366px;
  height: 768px;

  display: grid;
  grid-template-rows: repeat(4, 300px);
  grid-template-columns: repeat(3, 300px);
  grid-auto-flow: column;

  align-content: center;
  justify-items: center;
  align-items: center;
}
  img {
    border-radius: 5px 5px 0px 0px;
  }
  h2 {
    text-align: center;
}
button {
  position: relative;
  text-align: center;

}

/* shopping cart n bag*/

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}
.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 25px auto;
  text-align: center;
  background: whitesmoke;
  /* box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10); */
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 280px;
  display: flex;
  /* align: center; */
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.button {
  width: 30px;
  height: 30px;
  /* background-color: #E1E8EE; */
  border-radius: 6px;
  border: none;
  cursor: pointer;
  align-items: center;
}
.delete-btn,

.delete-btn {
  width: 18px;
  height: 17px;
  
}
image {
  margin-right: 25px;
}
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: 200px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    max-width: 50%;
  }
  .image,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
button:focus,
input:focus {
  outline:0;
}
/* end of cart for now*/

/* cards */
.card-container{
  display: grid; 

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  gap: 0px;
  height: 100%;
  
}

/* login/ home page*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

@prim: #53e3a6;

*{
	box-sizing: border-box;
	margin: 100;
	padding: 0;
  
	
	font-weight: 300;
}
h1{
  font-size: 30px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
  text-align: center;
}
form{
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
input{
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid fade(white, 40%);
  background-color: fade(white, 20%);
  width: 250px;
  
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  
  color: rgb(14, 0, 0);
  
  transition-duration: 0.25s;
  font-weight: 300;
}
:hover{
  background-color: fade(white, 40%);
}
button{
  appearance: none ;
  outline: 30;
  background-color: rgb(255, 255, 255);
  border: 0;
  padding: 5px 5px;
  /* color: @prim; */
  border-radius: 3px;
  width: 73px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  align-items: center;
  
  
}
div.container{
  /* height: 159px;
  width: 175px;
  color: black;
  text-align: center; */
  background-color: white;
  outline-color: black;
  
}
/* div.card{
  width: 225px;
  height: 412px;
} */
button.cart-button{
  display: grid;
  margin: auto;
  background-color: whitesmoke; 
  outline-color: black;
  /* align-items: center; */
  /* align-content: center;  */
}
div.whole-card{
  align-items: center;

  } 
button.login-button{
  display: grid;
  margin: auto;

}
h4.create-account{
  display: grid;
  margin: auto;
  text-align: center;
  font-size: larger;
  font-weight: 500;
}
button.add-new-user-button{
  display: grid;
  margin: auto;
  border: black;
  padding: 5px 15px;
  font: 10px;
}
